Source: initramfs-tools-halium
Section: utils
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9), lsb-release, fakeroot
Standards-Version: 4.1.3

Package: initramfs-tools-halium
Architecture: all
Depends: initramfs-tools, abootimg, udev (>= 175-0ubuntu29), coreutils, ${misc:Depends}
Description: tools for mounting an Ubuntu Touch rootfs
 This package contains the scripts to boot an Ubuntu Touch device.
 It also ships a default fstab that uses the android device paths based
 on partition label. By default it will mount the android userdata
 partition, then do a bind mount of the ubuntu subdir in there to become
 the root filesystem.
 .
 On failure the script will fire up an adb debugging shell
