#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_test:
	@set -e; for f in etc/initramfs/post-update.d/* hooks/* scripts/panic/adbd scripts/touch usr/sbin/*; do \
	    echo "Checking sh syntax of $$f"; \
	    sh -n $$f; \
	done
